@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito";
}

html {
  scroll-behavior: smooth;
}

.global_container {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 2.5rem;
}

.dash_container {
  max-width: 100%;
  margin-inline: auto;
  padding: 1rem 0.7rem;
}

a.active {
  background-color: #dde8db;
}

.scrollBar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera  */
}
.scrollBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar1::-webkit-scrollbar {
  width: 2px;
  background-color: #ffffffb1;
}

.scrollbar1::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: #70b56a;
  border-radius: 2px;
}
